package dashboard_api

templ DashboardPageTempl() {
    <div class="container-fluid p-5">
        <div class="row mb-2">
            <div class="col-6">
                <a href="https://htmx.org/">HTMX with lasers</a>
                <img src="/assets/images/htmx_with_lasers.png" alt="HTMX with lasers" class="img-fluid">
            </div>
        </div>
    </div>
}
