# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.env
.env.service
.staging.env
.staging.env.service
.staging-service.env

# Dependency directories (remove the comment below to include it)
# vendor/

bin/
secrets.env
.idea
.DS_Store
/assets/node_modules/
/data.db
/*.bin
